/* toolbar.scss */
@use '../../colors.scss';

.toolbar-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .toolbar-title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.75em;
  }

  .toolbar-title {
    font-size: 2em;
    margin: 0;
    text-align: left;
    white-space: nowrap;
  }

  .toolbar-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.75em;
    flex-wrap: wrap;
  }

  .toolbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.75em;
    flex-wrap: wrap;
    min-width: 0;
    flex: 1 1 auto;

    .search-container {
      border-radius: 0.4em;
      padding: 0 1em;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;

      background-color: colors.$component-background-color;
      color: colors.$component-color;

      svg {
        margin-right: 0.5em;
        font-size: 1.2em;
      }

      input {
        background-color: #00000000;
        height: 2.5em;
        border: 0;
        outline: none;
        font-size: 0.9em;
        color: colors.$base-color;
        width: 10em; // Initial width

        transition: width 0.5s ease-in-out; // Animate width change

        &:focus {
          width: 15em; // Larger width on focus
        }
      }

      .keyboard-shortcut {
        font-size: 0.8em;
        padding: 0.25em;
        margin-left: 1em;
        border-radius: 0.2em;

        color: colors.$base-color;
        background-color: colors.$component-background-color-light;
      }

      .reset-icon {
        margin-left: 1em;
        font-size: 0.9em;
        color: colors.$base-color;
        cursor: pointer;

        &:hover {
          color: colors.$highlight-color;
        }

        &:active {
          color: colors.$highlight-color;
        }
      }
    }

    .filter-container {
      display: flex;
      flex-direction: row;
      gap: 0.75em;
      flex-wrap: wrap;
    }
  }

  .toolbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75em;
    flex-shrink: 0;
  }
}
