/* StyledInput.scss */
.input-text {
  width: 100%;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  background-color: #151320;
  color: #b1b1b1;
  font-weight: 600;
  border: none;
  padding: 0.3em 0;
  -webkit-font-smoothing: antialiased;

  &:hover {
    border-color: #b0b0b0;
  }

  &:focus {
    border-color: #cccccc;
  }

  &::placeholder {
    color: #666666;
    font-weight: 300;
  }

  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
}

.input-email {
  @extend .input-text;
}

.input-number {
  @extend .input-text;
}

.input-color {
  width: 2em;
  height: 1.5em;
  margin-top: 0.5em;
  padding: 0;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  background-color: transparent;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: 1px solid #444;
    border-radius: 0.25em;
  }

  &::-moz-color-swatch {
    border: 1px solid #444;
    border-radius: 0.25em;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
