.castmill-table {
  table {
    font-size: 0.9em;
    width: 100%;
    border: 1px solid #28292d;
    border-collapse: collapse;
    border-spacing: 0; /* Remove default spacing */
    background-color: #333; /* Dark background color */

    overflow: hidden; /* Ensures the content does not leak outside the border */
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */

    border-radius: 0.5em;

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    thead {
      height: 2em;
      background-color: #1e1f25;
      border: 1px solid #28292d;
      border-radius: 5em;

      color: #5a5a5e;

      th {
        cursor: pointer;
        user-select: none; /* Prevent text selection */

        .table-header-title {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.5em;
        }
      }
    }

    tbody {
      tr {
        height: 3em;
      }

      .table-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
      }
    }
  }

  table tr:nth-child(odd) td {
    background-color: #18191e;
  }
  table tr:nth-child(even) td {
    background-color: #1e1f25;
  }
}
