@use '../../colors.scss';

.castmill-header {
  flex: 0 0 auto; /* Fixed height */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  border-bottom: 1px solid colors.$separator-color;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1.5em;
  }

  .main {
    justify-content: flex-start;
  }

  .right {
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .topbar-dropdowns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .keyboard-shortcuts-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: background-color 0.2s;
    
    svg {
      font-size: 1.5rem;
    }
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
