@use '../../colors.scss';

.castmill-header {
  flex: 0 0 auto; /* Fixed height */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  border-bottom: 1px solid colors.$separator-color;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1.5em;
  }

  .main {
    justify-content: flex-start;
    gap: 1em;

    .org-logo-separator {
      width: 0.0625em;
      height: 2em;
      background-color: colors.$separator-color;
    }

    .org-logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 3em;

      .org-logo {
        max-height: 3em;
        max-width: 10em;
        object-fit: contain;
      }
    }
  }

  .right {
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .topbar-dropdowns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}
