/* LoadingOverlay.css */
.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it is on top */
}

.spinner {
  border: 0.6em solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 0.6em solid white;
  width: 8em;
  height: 8em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
