@use '../../colors.scss';

.castmill-panel-item {
  a {
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    text-align: left;

    svg {
      margin: 0 0.5rem;
    }

    &:link,
    &:visited {
      color: colors.$base-color;
    }

    &:active,
    &:hover {
      color: colors.$highlight-color;
    }

    &.active {
      color: colors.$highlight-color;
    }
  }
}

.item-level-0 {
  padding-left: 0.5em;
}

.item-level-1 {
  padding-left: 2em;
  font-size: 0.9em;
}

.item-level-2 {
  padding-left: 4em;
  font-size: 0.8em;
}

.item-level-3 {
  padding-left: 6em;
  font-size: 0.7em;
}

.item-level-4 {
  padding-left: 8em;
  font-size: 0.6em;
}
