$base-color: #ffffff;
$background: #151925;
$component-background-color: #2c303b;
$component-background-color-light: #585d67;
$component-color: #585d67;
$separator-color: #363a45;
$highlight-background-color: #1c263a;
$highlight-color: #5792ee;
