$animation-duration: 0.3s;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0; // Starts invisible
  visibility: hidden; // Ensures it's not interactable when not visible
  z-index: 1000;
  transition:
    opacity $animation-duration ease,
    visibility $animation-duration ease;

  &.active {
    opacity: 1;
    visibility: visible;
    transition:
      opacity $animation-duration ease,
      visibility 0s linear 0s; // Ensure visibility changes immediately
  }

  .modalContent {
    display: flex;
    flex-direction: column;

    background-color: #211d32;
    color: white;
    border-radius: 8px;

    padding: 1.6em;
    transform: translateY(-20px); // Starts slightly above the final position
    opacity: 0; // Starts transparent
    transition:
      transform $animation-duration ease,
      opacity $animation-duration ease,
      width 0.3s ease;

    &.active {
      transform: translateY(0); // Ends at the final position
      opacity: 1; // Fully opaque
    }

    .modalHeader {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #3d3d3d;
      padding-bottom: 1em;

      h2,
      h3 {
        margin: 0;
        line-height: 1.4;
      }

      h3 {
        color: #a4a3b7;
        font-weight: 400;
      }

      .title {
        margin-bottom: 0.5em;
      }
    }

    .modalBody {
      width: 100%;
      flex: 1;

      flex-grow: 1; /* Ensures it grows to take available space */
      flex-shrink: 1; /* Allows shrinking if necessary */
      flex-basis: 0; /* Starts calculation from 0% of the container's remaining space */
    }

    .modalError,
    .modalSuccess {
      padding: 0.8em;
      margin-top: 1em;
      border: 1px solid;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.3em;

      &.modalError {
        border-color: #ff4200;
      }

      &.modalSuccess {
        border-color: #00ff00; // Example success color
      }
    }
  }
}
