@use '../../colors.scss';

.castmill-search {
  border-radius: 0.4em;
  padding: 0 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  background-color: colors.$component-background-color;
  color: colors.$component-color;

  svg {
    font-size: 1.2em;
  }

  input {
    margin-left: 0.5em;
    background-color: #00000000;
    height: 3em;
    border: 0;
    outline: none;
    font-size: 0.9em;
    color: colors.$base-color;
    width: 10em; // Initial width

    transition: width 0.5s ease-in-out; // Animate width change

    &:focus {
      width: 15em; // Larger width on focus
    }
  }

  .keyboard-shortcut {
    font-size: 0.8em;
    padding: 0.25em;
    margin-left: 1em;
    border-radius: 0.2em;
    white-space: nowrap;

    color: colors.$base-color;
    background-color: colors.$component-background-color-light;
  }

  .reset-button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: inherit;

    &:focus {
      outline: 2px solid colors.$highlight-color;
      outline-offset: 2px;
      border-radius: 2px;
    }

    &:hover .reset-icon {
      color: colors.$highlight-color;
    }

    &:active .reset-icon {
      color: colors.$highlight-color;
    }
  }

  .reset-icon {
    font-size: 1.3em;
    color: colors.$component-color;
  }
}
