@use '../../colors.scss';

.castmill-sidepanel {
  width: 15rem;

  font-size: 1em;
  padding: 1rem;

  color: colors.$base-color;
  background-color: colors.$background;
  border-right: 1px solid colors.$separator-color;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .castmill-panel-item {
    margin: 0.5em 0;
  }

  .top {
    width: 100%;
  }

  .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-top: 1rem;
  }

  .network-admin-section {
    width: 100%;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .section-divider {
      width: 100%;
      height: 0.1em;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(59, 130, 246, 0.3),
        transparent
      );
      margin: 1em 0;
    }
  }
}
