.menu {
  font-family: sans-serif;
  background-color: #1e1e1e;
  color: #d3d3d3;
  position: absolute;
  width: 300px;
  text-align: left;
  border-bottom-right-radius: 0.5em;
  border-right: 1px solid #484848;
  border-bottom: 1px solid #484848;
}

.menuHead {
  padding: 5px 10px;
}

.menuFooter {
  padding: 5px 10px;
  font-weight: 400;
  color: #7171de;
  font-size: 0.8em;
  font-weight: 600;
}

.menu h1 {
  text-align: left;
  font-size: 24px;
}

.menuHead p {
  color: #7c7c7c;
  font-size: 0.8em;
}

.menu ul {
  border-top: 1px solid #484848;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 1px solid #484848;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected {
  background: #3a3a3a;
  color: #eee;
}

.active {
  background: #59b0e9;
}
